* {
    padding: 0px;
    margin: 20px 0px;
    text-align: center;

}
body {
    margin: 0px;
}
div {
    background-color:rgb(155, 155, 209);
    border: solid 5px darkblue;
    width: 320px;
    height: 200px;
    left: 35%;
    margin: 0 auto;
    padding: 10px;
}