<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/queries.css">
		<title>WebDev Masa 2019 Sep Course Wiki Pages</title>
	</head>
	<body>
		<main id="main">
			<a href="Dan/index.html" target="iframe_a" class="wiki-desc blue-jeans">
				<div class="description dan"><div class="rel">
					<p class="page-name"></p>
					<p class="whos-page">Dan</p>
				</div></div>
				<div class="overlay"><div class="rel"><p class="click">Click it</p></div></div>
			</a>
			<a href="Dasha/index.html" target="iframe_a" class="wiki-desc medium-aquamarine">
				<div class="description dasha"> <div class="rel">
					<p class="page-name"></p>
					<p class="whos-page">Dasha</p>
				</div></div>
				<div class="overlay"><div class="rel"><p class="click">Click it</p></div></div>
			</a>
			<a href="Dilmurad/index.html" target="iframe_a" class="wiki-desc sandy-brown">
				<div class="description dilmurad"><div class="rel">
					<p class="page-name"></p>
					<p class="whos-page">Dilmurad</p>
				</div></div>
				<div class="overlay"><div class="rel"><p class="click">Click it</p></div></div>
			</a>
			<a href="George/index.html" target="iframe_a" class="wiki-desc maize">
				<div class="description george"> <div class="rel">
					<p class="page-name"></p>
					<p class="whos-page">George</p>
				</div></div>
				<div class="overlay"><div class="rel"><p class="click">Click it</p></div></div>
			</a>
			<a href="Leo/index.html" target="iframe_a" class="wiki-desc paradise-pink">
				<div class="description leo"> <div class="rel">
					<p class="page-name"></p>
					<p class="whos-page">Leo</p>
				</div></div>
				<div class="overlay"><div class="rel"><p class="click">Click it</p></div></div>
			</a>
			<a href="Lev/index.html" target="iframe_a" class="wiki-desc blue-jeans">
				<div class="description lev"><div class="rel">
					<p class="page-name"></p>
					<p class="whos-page">Lev</p>
				</div></div>
				<div class="overlay"><div class="rel"><p class="click">Click it</p></div></div>
			</a>
			<a href="Lina/index.html" target="iframe_a" class="wiki-desc medium-aquamarine">
				<div class="description lina"> <div class="rel">
					<p class="page-name"></p>
					<p class="whos-page">Lina</p>
				</div></div>
				<div class="overlay"><div class="rel"><p class="click">Click it</p></div></div>
			</a>
			<a href="Liza/index.html" target="iframe_a" class="wiki-desc sandy-brown">
				<div class="description liza"> <div class="rel">
					<p class="page-name"></p>
					<p class="whos-page">Liza</p>
				</div></div>
				<div class="overlay"><div class="rel"><p class="click">Click it</p></div></div>
			</a>
			<a href="Maks/index.html" target="iframe_a" class="wiki-desc maize">
				<div class="description maks"><div class="rel">
					<p class="page-name"></p>
					<p class="whos-page">Maks</p>
				</div></div>
				<div class="overlay"><div class="rel"><p class="click">Click it</p></div></div>
			</a>
			<a href="Masha/index.html" target="iframe_a" class="wiki-desc paradise-pink">
				<div class="description masha"><div class="rel">
					<p class="page-name"></p>
					<p class="whos-page">Masha</p>
				</div></div>
				<div class="overlay"><div class="rel"><p class="click">Click it</p></div></div>
			</a>
			<a href="Misha/index.html" target="iframe_a" class="wiki-desc blue-jeans">
				<div class="description misha"> <div class="rel">
					<p class="page-name"></p>
					<p class="whos-page">Misha</p>
				</div></div>
				<div class="overlay"><div class="rel"><p class="click">Click it</p></div></div>
			</a>
			<a href="Pasha/index.html" target="iframe_a" class="wiki-desc medium-aquamarine">
				<div class="description pasha"> <div class="rel">
					<p class="page-name"></p>
					<p class="whos-page">Pasha</p>
				</div></div>
				<div class="overlay"><div class="rel"><p class="click">Click it</p></div></div>
			</a>
			<a href="Sema/index.html" target="iframe_a" class="wiki-desc sandy-brown">
				<div class="description sema"> <div class="rel">
					<p class="page-name"></p>
					<p class="whos-page">Sema</p>
				</div></div>
				<div class="overlay"><div class="rel"><p class="click">Click it</p></div></div>
			</a>
			<a href="Stan/index.html" target="iframe_a" class="wiki-desc maize">
				<div class="description stan"> <div class="rel">
					<p class="page-name"></p>
					<p class="whos-page">Stan</p>
				</div></div>
				<div class="overlay"><div class="rel"><p class="click">Click it</p></div></div>
			</a>
		</main>
		<section class="frame">
			<a href="#main" class="to-the-top">To the Top!</a>
			<div class="frame-div">
				<iframe src="about:blank" name="iframe_a"></iframe> 
			</div>
			<a href="#main" class="to-the-top">To the Top!</a>
		</section>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>